.header-f {
    position: fixed;
    align-items: center;
    width: 100%;
    height: 50px;
    transition: transform 0.3s ease-in-out;

    .header-f__nav {
        width: 100%;
        justify-content: space-between;
        padding: 0 30px 0 30px;
        
        span {
            font-size: 15px;
            color: #fff;
        }

        .header-f__address {
            gap: 40px;
            align-items: center;
            

            .item__address {
                gap: 15px;
                align-items: center;
            }
        }

        .header-f__contacts {
            gap: 40px;
            

            .header-f__contacts-item {
                gap: 40px;
                align-items: center;

                .item_contancts {
                    gap: 15px;
                    align-items: center;
                }
            }
        }
    }
}

.header-s {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #7a7a7a;
    margin: 50px 0 0 0;
    transition: transform 0.3s ease-in-out;
    
    .header-s__nav {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 52px 0 102px;
        
        .header-s__logo {
            gap: 20px;
            
            .logo-text {
                flex-direction: column;
                align-items: center;
                color: #fff;
                
                span:first-child {
                    font-size: 50px;
                }
                span:last-child {
                    font-size: 14px;
                }
            }
        }

        .header-s__nav-menu {
        
            .menu {
                gap: 26px;
            }
        }
    }
}

.header-out {
    transform: translateY(-100%)
}
.header-s-out {
    transform: translateY(-50%);
}