html {
    scroll-behavior: smooth;
}

body {
    height: 200vh;
    background-color: #252525;
}

p, span, a {
    font-family: "Kurale";
    text-decoration: none;
    color: #fff;
}

.icon {
    width: 18px;
    height: 18px;
}

.d-flex {
    display: flex;
}