@import url('./assets/components/header/header.scss');
@import url('./assets/components/footer/footer.scss');
@import url('./reset.scss');
@import url(./assets/fonts/fonts.css);

* {
    font-family: "Kurale";
}